.code,
.code + pre,
.code-link,
.code-info
{
  display: none;
}

.code-link
{
  float: right;
  display: block;
  background-color: #6e6b5e;
  margin-top: -45px;
  padding: 3px;
}

.code-link * {
  color: #f1f1f1 !important;
  margin: 0 !important;
}

.code + pre,
.code-info
{
  border: 3px #6e6b5e solid;
  margin-top: 25px;
  z-index: -1;
}

.code-info
 {
  padding: 0px 30px;
}

.code + pre
{
  background-color: #f1f1f1;
  padding-top: 7px;
}

.code-info:before,
.code + pre:before
{
  font-family: "Open Sans", sans-serif;
  content: var(--language);
  display: table;
  background-color: #6e6b5e;
  color: #f1f1f1;
  padding: 7px;
}

.code-info:before
{
  margin-top: -19px;
  margin-left: -15px;
}

.code + pre:before
{
  margin-top: -26px;
  margin-left: 15px;
}
